{{- $hasStatutes := partial "func/HasTaxonomyAvailable.html" (dict "section" "persons" "taxonomy" "persons_statutes") }}
{{- $hasExpertises := partial "func/HasTaxonomyAvailable.html" (dict "section" "persons" "taxonomy" "persons_expertises") }}
{{- $hasPlaces := partial "func/HasTaxonomyAvailable.html" (dict "section" "persons" "taxonomy" "persons_places") }}
{{- if or $hasStatutes $hasExpertises $hasPlaces }}
  {{ partial "commons/filters.html" (dict "context" . "section" "persons") }}
{{- end }}
