<header class="hero"{{ partial "func/SetAnim" (dict "element" "hero") }}>
  <div class="container">
    <div class="row">
      <div class="hero-content">
        {{ $statutes := "persons/statutes.html" }}
        {{ if templates.Exists ( printf "partials/%s" $statutes ) }}
          {{ partial $statutes . }}
        {{ end }}
        <h1>{{ partial "func/PrepareHTML" .Title }}</h1>
        {{ partial "commons/description" . }}
      </div>
      <div class="hero-content">
        {{ partial "persons/contact-list" . }}
      </div>
    </div>
  </div>
</header>