<header class="hero"{{ partial "func/SetAnim" (dict "element" "hero") }}>
  <div class="container">
    <div class="row">
      <div class="hero-content">
        {{ with .GetTerms "statutes" }}
          {{ range . }}
            <p class="surtitle">{{ cond (isset .Params "title_singular") .Params.title_singular .Title }}</p>
          {{ end }}
        {{ end }}
        <h1>{{ partial "func/PrepareHTML" .Title }}</h1>
        {{ partial "commons/description" . }}
      </div>
      <div class="hero-content">
        {{ partial "persons/contact-list" . }}
      </div>
    </div>
  </div>
</header>