{{ $desktop := site.Params.persons.thumbnail.desktop | default false }}
{{ $mobile := site.Params.persons.thumbnail.mobile | default false }}
{{ if .Scratch.Get "scrollsnap" }}
  {{ $mobile = site.Params.persons.thumbnail.scrollsnap | default false }}
{{ end }}
{{ $ratio := "--bs-aspect-ratio: 100%;" }}
{{ $style := printf "style='%s'" $ratio }}
{{ if $desktop }}
  {{ $w := float (index (split $desktop "x") 0 | default 100) }}
  {{ $y := float (index (split $desktop "x") 1 | default 100) }}
  {{ $value := string (mul (div $y $w) 100) }}
  {{ $ratio = printf "--bs-aspect-ratio: %s%s;" $value "%" }}
  {{ $media := printf "--card-media: %spx;" (string $w) }}
  {{ $style = printf "style='%s %s'" $ratio $media }}
{{ end }}
<div class="media" {{ safeHTMLAttr $style }}>
  {{- with .Params.image}}
    {{ partial "commons/image.html" (dict
      "src" .src
      "alt" .alt
      "desktop" $desktop
      "mobile" $mobile
      "crop" "top"
    ) }}
  {{ end -}}
</div>
